<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57130466623-ro9o50fuokfrmlpr88f4395n15celm58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57130466623-ro9o50fuokfrmlpr88f4395n15celm58</string>
	<key>API_KEY</key>
	<string>AIzaSyAKga7sC3Zf1o1ck0zLZdwzzaBqnZKFLAs</string>
	<key>GCM_SENDER_ID</key>
	<string>57130466623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bridgelabz.grid-view</string>
	<key>PROJECT_ID</key>
	<string>collectionview-48d8e</string>
	<key>STORAGE_BUCKET</key>
	<string>collectionview-48d8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57130466623:ios:8fd550ea621ac57f3e678a</string>
</dict>
</plist>